
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body
{
   font-family: 'Open Sans', sans-serif;
   font-size: 62.5%;
   margin: 0;
   padding: 0;
}

div.Sguide  /*style-guide warpper*/
{
	color: black;
    background-color: #ececec;
}

H1, H2, H3, H4, H5, P, UL, LI, FORM, BR, LABLE, A, SPAN, TABLE, TR, TH, TD, DIV, B, FIELDSET, IMG {
   margin: 0;
   padding: 0;
   vertical-align: baseline;
   outline: 0;
   border: none;
   font-weight: 300; 
}


h2 /* headings for sections: 'services', 'solutions', 'events' */ 
{ 
	font-size: 4.2em;
	color: white;
    text-transform: uppercase;
}

.h2carouselslides
{
text-transform: capitalize;
}

.h2carouselslides, 
.h2solutions
   { 
	color: white;
    }

.h2successStories
   { 
	color: #565656;
    }

h3    /* solutions headings*/ 
   { 
	font-size: 3.6em;
	color: white;
    text-transform: uppercase;
   } 


h4  /* Feature Box headings*/ 
   { 
	font-size: 3em;
	color: white;
    text-transform: capitalize;
   }



 h2,h3, nav
 {
    text-transform: uppercase;
 }

div.MainButton
{
    background-color: #188cc6;
	width: 177px;
	height: 34px;
	border-radius: 5px;
    box-sizing: border-box;
	padding: 5px;
	text-align: left;
}

.MainButton a
{	
    font-size: 1.6em;
	color: white;
	text-decoration: none;
	text-transform: capitalize;
    color: #fff;
}

.MainButton
{
	background-color: linear-gradient(to bottom, #40a2d5 0%, #289ad2 100%);
}



/* forms */

.searchbox
{
   display: inline-block;
   background: white;
   border: 1px solid #d2d2d2;
   width: 150px;
   border-radius: 5px;
}

.searchbox input[type="submit"] 
{
	background: url(../img/searchBtn.png) no-repeat center center;
	text-indent: -9999px;
	width: 26px;
	float: right;
	cursor: pointer;
}

.searchbox input[type="search"], input[type="email"]
{
font-size: 0.750em;
background: none;
padding: 2px 5px;
overflow: hidden;
color: #585951;
}

/* MODULES -------------------------------------------------------------*/

/* promotion-features box ------------------------*/

ul.promotion-features
{
     width: 960px;
     height: 175px;
     color: white;
     list-style-type: none;
     text-transform: capitalize;
     text-decoration: none;
}

li.promotion-feature-box
 {
     width: 290px;
     height: 155px;
	 padding: 10px 14px 10px;
	 position: relative;
	 float: left;
     margin-left: 30px;
     border-radius: 5px;     
     background-color: rgba(250, 66, 158, 0.8); 
 }

 li.promotion-feature-box:hover
{
   background-color: rgb(250, 66, 158); 
}  

li.promotion-feature-box h4, li.promotion-feature-box p, li.promotion-feature-box a
 {
     text-decoration: none;
 }


li.promotion-feature-box h4
{
     font-size: 2.3em;
}

li.promotion-feature-box p
 {
     font-size: 1.6em;   
 }

 li.promotion-feature-box a
 {
   font-size: 1.6em; 
   color: white;
   font-weight: 400;
 }

 li.promotion-feature-box a:hover
 {
    text-decoration: underline;
 }


<br><br>
<br><br>

/* event box -----------------------*/

ul.events
{
     width: 960px;
     height: 195px;
}

li.event
{
     width: 296px;
     height: 192px;
     color: white;
}


li.event h3
{
     width: 296px;
     height: 39px;
     font-size: 2.6em; 
}


li.event div.event-warpper
{
	 box-sizing: border-box;
     width: 296px;
     height: 120px;
     float: left; 
     padding: 1em;
     background-color: rgba(256, 256, 256, 0.4);  
     position: relative;
}

li.event p
{
	  width: 190px;
      font-size: 1.4em; 
      color: #1a1a1a;
      display: inline;
      margin-left: 5.5em;
      overflow: none;
      position: absolute;
      left: 1em;
      top: 1em;
}
     
li.event div.date-warpper

{
     width: 70px;
     height: 98px;
     background-color: #3399cc;
     margin-right: 10px;
     text-align: center;
     display: inline-block;
     border-radius: 3px;
}
     
li.event div.day

{
     width: 70px;
     height: 66px;
     font-size: 2.6em;


}

li.event div.month
{
     width: 70px;
     height: 32px;
     font-size: 1.6em;


}

li.event a.event-link
{
     width: 296px;
     height: 120px;
     padding: 1em;
     background-color: rgba(256, 256, 256, 0.4);     
}
     
li.event h3,p
{
     line-height: 1.5;
}

/*----------------------------------*/

.ServiceIconBox
 {

 }



.successStoryBox
{


}

div.clientLogoBox
{
    background-color: white;
	width: 107px;
	height: 94px;
	display:inline-block;
}

.comverselogo
{
	width: 185px;
	height: 62px;
}

